<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Silas Automóveis</span>
  <div>
  <ul class="navbar-nav">
    <li>
      <a class="nav-link" href="/">Início</a>
    </li>
    <li>
      <a class="nav-link" href="/login">Entrar</a>
    </li>
    <li>
      <a class="nav-link" href="/painel/carro">Carros</a>
    </li>
    <li>
      <a class="nav-link" href="/painel/cliente">Clientes</a>
    </li>
    <li>
      <a class="nav-link" href="/painel/leilao">Leilões</a>
    </li>
  </ul>
</div>
</nav>

<!--

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">Silas Automóveis</a>
  <div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/painel/carros">Carros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/painel/cliente">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/painel/leilao">Leilões</a>
      </li>
    </ul>
  </div>
</nav>

-->